.about_section .about_wrapper{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    padding-block: min(45px , 8vw);  
}
.about_section .about_heading_wrapper h2{
    text-align: center;
    color: var(--blue);
    text-decoration: underline;
    padding-block: min(45px , 8vw);
    font-size: min(30px, 7vw); 
}
.about_section .about_image_wrapper,.about_content_wrapper{
    flex: 1 1;   
}
.about_section .about_image_wrapper{
    text-align: center;
    flex-basis: 40%;
    max-width: 300px;
}
.about_section .about_image_wrapper img{
    width: 280px;
    height: 370px;
    object-fit: cover;
    margin: auto;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    filter: saturate(.8);
}
.about_section .about_content_wrapper{
    flex-basis: 60%;
    max-width: 600px;
}
.about_section .about_content_wrapper h2{
    margin-bottom: min(15px, 3vw);
}
.about_section .about_content_wrapper .highlight_skills{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-block: min(3vw, 24px);
}
.about_section .about_content_wrapper .highlight_skills div{
    display: flex;
}
.about_section .about_content_wrapper .highlight_skills span{
    width: 50%;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about_section .about_content_wrapper .contact_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid var(--black); */
    border-radius: 18px;
    padding-block: min(2vw, 18px);
    background-color: #ededed38;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.about_section .about_content_wrapper .contact_container div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about_section .about_content_wrapper .contact_container div span{
    line-height: 1.4;
}
.about_section .about_content_wrapper .contact_container div span span:first-child{
    font-size: 12px;
    opacity: .7;
    letter-spacing: 1px;
}
.about_section .about_content_wrapper .contact_container span {
    display: flex;
    flex-direction: column;
}
.about_section .about_content_wrapper .contact_container span  span{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:991px) {
    .about_section .about_wrapper{
    flex-direction: column;

    }
    .about_section .about_image_wrapper,.about_content_wrapper{
        flex: 1 1 100%; 
        text-align: center; 
        padding-inline: 5px; 
        
    } 
    .about_section .about_content_wrapper{
        width: 100%;
    }
    
}
@media screen and (max-width: 576px) {
    .about_section .about_content_wrapper .contact_container{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .about_section .about_content_wrapper .contact_container{
        width: 100%;
        max-width: 350px;
        margin: auto;
        padding: 15px 15px;
    } 
    .about_section .about_content_wrapper .contact_container div{
        margin-block: 8px;
    }
    .about_section .about_content_wrapper .highlight_skills span{
        font-size: min(4vw, 16px);
        width: 100%;
    }
    .about_section .about_content_wrapper .highlight_skills div{
        display: flex;
        flex-direction: column;  
    }
    .about_section .about_content_wrapper .highlight_skills{
        width: 100%;
        max-width: 350px;
        margin: auto;
        padding-block: min(3vw, 20px);
    }

}
@media screen and (max-width: 382px) {
    .about_section .about_content_wrapper .contact_container div span span:last-child {
        font-size: min(3vw, 12px);
        letter-spacing: 1px;
    }
    .about_section .about_content_wrapper .contact_container div{
        width: 100%;
    }
    .about_section .about_content_wrapper .contact_container{
        padding: 4px 8px;
    }
   
}
