
header{
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.navbar {
    background-color: var(--white);
    color:var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block:min(20px, 2vw);
}

.logo a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 24px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color:var(--black);
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color:var(--black);
    font-weight: 600;
    padding-block: 5px;
    margin-inline: 10px;
    cursor: pointer;
}
.bottom_bdr{
    border-bottom: 2px solid var(--blue);
}
.active-scroll-spy{
    border-bottom: 2px solid var(--blue);
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    animation: smoothScroll 1s forwards;
    background-color: #ffffffa3;
  }
  @keyframes smoothScroll {
      0% {
          transform: translateY(-40px);
      }
      100% {
          transform: translateY(0px);
      }
  }
/* Media query for responsive design */
@media (max-width: 991px) {
    .menu {  
        display: flex;          
        flex-direction: column;
        background-color:#ffffff;
        position: absolute;
        top: 45px;      
        width:100%;        
        left: -100%;
        transform: translateX(-100%);
        transition: all .8s ease-in-out;
        /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
        z-index: 2;  
        height: 100vh; 
    }

    .menu.active {  
         left: 0px;    
        transform: translateX(0%);
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
    .rotate_bar1{
        transform: rotate(48deg) translate(3px, 1px);
    }
    .rotate_bar2{
        transform: rotate(319deg) translate(4px, -3px);   
    }
    .rotate_bar3{
        display: none;
    }
}
