@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dangrek&family=Mulish&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap');

:root {
  --black: #0d1730;
  --white: #ffffff;
  --blue:#3e6ff4;
}
   /* Reset some default styles */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  html{
    scroll-behavior:smooth;
  }
  body{
    color: var(--black);
    font-family: 'Poppins', sans-serif;
  }
  .portfolio_container{
    width: 100%;
    max-width: 1170px;
    padding-inline: min(20px, 4vw);
    margin: auto;
  }
  .header_shadow{
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  .fixed_icon_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 42%;
    z-index: 99;
  }
  .fixed_icon_container svg{
    color: var(--white);
    background-color: var(--blue);
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
  }
  .fixed_icon_container svg:hover{    
    background-color: var(--black);
    transform: scale(1.3) translateX(3px);    
  }
  @media screen and (max-width:991px) {
    .fixed_icon_container{
      display: none;
    }
  }